services:
  app:
    build: .
    env_file: .env.docker
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    env_file: .env.docker
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: